---
- name: install "{{ debian_java_version }}"
  apt:
    name: "{{ debian_java_version }}"
  when: ansible_os_family == 'Debian'

- name: install "{{ redhat_java_version }}"
  yum:
    name: "{{ redhat_java_version }}"
  when: ansible_os_family == 'RedHat'